@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1 {
    @apply gradient-text gradient pb-1 text-6xl font-bold md:text-7xl;
  }

  .h2 {
    @apply gradient-text gradient pb-1 text-4xl font-bold xs:text-5xl md:text-6xl;
  }

  .body {
    @apply text-base text-green-1;
  }

  .section {
    @apply pt-8 pb-16 first:pt-0 last:pb-20 md:pt-10 md:pb-28 last:md:pb-36;
  }

  .m-horizontal {
    @apply mx-auto block w-11/12 max-w-[1400px];
  }

  .navigation {
    @apply mx-5 lg:mx-16;
  }

  .m-left {
    @apply ml-[max(calc(1/12*100%/2),calc(calc(100%-1400px)/2))];
  }

  .gradient-text {
    @apply inline-block bg-clip-text text-transparent;
  }

  .gradient {
    @apply bg-gradient-to-r from-green-2 to-green-1;
  }

  .transition-300 {
    @apply transition-all duration-300 ease-in-out;
  }

  .h-screen-trick {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    @apply min-h-[640px] !important;
  }

  .icon-dark {
    filter: invert(8%) sepia(30%) saturate(944%) hue-rotate(108deg)
      brightness(93%) contrast(96%);
  }

  .icon-light {
    filter: invert(89%) sepia(40%) saturate(93%) hue-rotate(63deg)
      brightness(106%) contrast(102%);
  }
}
